.hero {
    background-color: var(--yellow);
    padding: 3rem 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.heroWrapper {
    position: relative;
}

.hero-img {
    position: relative;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--lavender);
    background-color: var(--lavender);

    z-index: 1;
}

#bearEars {
    position: absolute;

    width: 210px;
    height: 210px;

    left: -0.1em;
    top: -5em;
    z-index: 0;
}

#bearEars path {
    fill: var(--mint);
    stroke: var(--lavender);
    stroke-linejoin: round;
    stroke-width: 15px;
}

#artGallery {
    background-color: var(--blue);
    padding: 3rem 0;
}

.gallery-grid {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;

    justify-content: center;
}

.gallery-item {
    background-color: var(--lavender);
    padding: 1rem;
    border-radius: var(--globalBorderRadius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

    flex: 0 1 45%;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.gallery-item:hover {
    transform: scale(1.03);
}

#about {
    background-color: var(--mint);
    padding: 3rem 0;
    text-align: center;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}