:root {
    --pink: #ff99c8;
    --yellow: #fcf6bd;
    --mint: #d0f4de;
    --blue: #a9def9;
    --lavender: #e4c1f9;
    --text-dark: #444;
    --text-light: #fff;
    --headerFont: 'Cherry Bomb One', sans-serif;
    --bodyFont: 'Fredoka', sans-serif;
    --globalBorderRadius: 1rem;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    transition: background 0.5s ease;
    font-family: var(--bodyFont); 

    display: flex;
    justify-content: center;
    align-items: start;
}

.container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

#skyContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}

#sun {
    position: absolute;
    font-size: 300px;

    color: var(--yellow); 

    transition: all .7s;
}

body.day {
    background: linear-gradient(to bottom, #d6f0ff, #ffffd9);
    color: var(--text-dark)
}

body.day #sun {
    left: -100px;
    top: -100px;
}

body.day #iconLinks {
    background-color: rgba(255, 255, 255, 0.452);
}

header {
    position: sticky;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#profile-pic {
    width: 200px;
    border-radius: 50%;

    border: 8px dotted var(--pink);
}

#nameplate {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: 12px;
}

#nameplate iconify-icon {
    font-size: 30px;
    color: var(--yellow);
}

#nameplate iconify-icon:last-of-type {
    transform: scaleX(-1);
}

h1 {
    font-family: var(--headerFont);
    text-align: center;

    margin: 0;
}

header #tagline {
    max-width: 400px;
    text-align: center;
    margin: 0;
}

.link-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.link-list li {
    max-width: 400px;
    min-width: 200px;
    min-height: 60px;
    padding: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--yellow);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: var(--globalBorderRadius);

    box-shadow: 0 4px 0 var(--lavender);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.link-list li:hover {
    background: #fcf6bd;
    transform: translateY(-3px);
    box-shadow: 0 6px 0 var(--blue);
}

.link-list a {
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    color: var(--text-dark)
}

#iconLinks {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;

    padding: 10px;
    border-radius: var(--globalBorderRadius);
}

#iconLinks a {
    color: var(--pink);
    transition: transform .3s;
}

#iconLinks a:hover {
    transform: scale(1.2);
}

#iconLinks iconify-icon {
    font-size: 50px;
}

footer {
    max-width: 450px;
    text-align: center;
}

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--lavender) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: lavender;
    border-radius: 10px;
    border: 3px solid #ffffff;
}