
#displayWrapper {
    margin: 25px auto;
    padding: 40px;
}

#aboutImg {
    position: relative;
    padding: 0;
}

#headshot {
    width: 100%;
    border-radius: 15px;
    border: 5px dashed var(--LogoTypeYellow);
}

#aboutName {
    position: relative;
    justify-content: flex-end;
}

 h1 {
    color: white;
    font-family: Rochester;
    font-size: 5rem;
}

h2{
    font-size: 3rem; 
    color: var(--Pink);
    filter: drop-shadow(1px 1px 0px var(--WaterTeal1)) drop-shadow(-1px  1px 0px var(--WaterTeal1)) drop-shadow(-1px  -1px 0px var(--WaterTeal1));
}

#arrow {
    position: absolute;
    width: 300px;
    right: -20%;
    bottom: 40%;
    transform: rotate(330deg);
    z-index: 4;
}

.cloud1 {
    width: 150px;
    transform: rotate(350deg);
}

.cloud2 {
    position: absolute;
    z-index: 4;
    right: -10%;
    top: -10%;
    transform: rotate(10deg);
    width: 200px;
}

/* Where I begin to yap */

/* #aboutMain{
} */

#certContainer {
    background-color: var(--Teal2);
}

#DefiningMe{
    width: 70%;
}

@media (orientation: portrait) {}

@media screen and (max-width: 1440px) {
    #aboutName h1 {
        font-size: 9vmin;
    }
}

@media screen and (max-width: 768px) {

    .cloud1,
    .cloud2,
    #arrow {
        display: none;
    }

    #aboutName h1 {
        margin: 0 auto;
    }

    #headshot {
        display: block;
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
}


@media screen and (max-width: 540px) {
    #aboutWrapper {
        padding: 10px;
        width: 100%;
    }

    #headshot {
        width: 100%;
    }

    #aboutName h1 {
        font-size: 2.4rem;
        text-align: center;
    }
}