#start {
    height: 100vh;
}

#startDisplay {
    text-align: center;
    margin: 0 auto;
}

#startDisplay p {
    font-size: larger;
}

#startDName {
    position: absolute;
    font-family: Rochester;
    font-size: 7rem;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    filter: drop-shadow(1px 2px 1px #47808a);
    z-index: 3;
    opacity: 0;
    animation: fadeIn 3s forwards, floatglow 1000ms ease-in-out infinite alternate;
    animation-delay: 2s;
}

@keyframes floatglow {
    0% {
        filter: drop-shadow(0 0 5px transparent);
        translate: 0 -5px;
    }

    100% {
        filter: drop-shadow(0 0 5px #ff7dd8);
        translate: 0 5px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Stained Glass */

#stainedGlass {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30em;
    filter: drop-shadow(0px 0px 10px #000);
    animation: revealImage 2s forwards;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.image-container {
    position: relative;
    width: 30em;
    height: 700px;
    overflow: hidden;
    margin: 0 auto;
    z-index: 2;
}

@keyframes revealImage {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

/* A little about me */

#aboutBlurb {
    text-align: center;
}

#aboutblurbtxt {
    font-family: Comfortaa;
    line-height: 1.7em;
    font-size: 1.7vmax;
    margin: 0 auto;
    width: 90%;
}


/* Contact Me Button */
.contact {
    margin-top: 60px;
    font-size: larger;
    font-weight: bold;
    background-color: var(--Pink2);
    color: black;
    border: white 1px solid;
    border-radius: 50px;
    padding: 10px 50px;
    transition: background-color .25s;
}

.contact:hover {
    background-color: var(--Pink);
    color: black;
}

.contact:active,
.contact:focus .contact:active:focus {
    background-color: #ff84c3;
}

/* Headers */

.indexHeaderStyling {
    padding: 10px;
    background-color: var(--Teal2);
}

/* Skill sets */

#skillsMarquee1,
#skillsMarquee2,
#skillsMarquee3 {
    gap: 20px;
}

.skilldisplay {
    flex: 0 1 150px;
    align-items: start;
    background-color: var(--Yellow);
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
}

/* Services I provide */

#servicesHeader h3 {
    font-weight: bold;
}

#services {
    position: relative;
    margin: auto;
    width: 80vw;
}

.servicescol {
    position: relative;
}

#services h6 {
    float: left;
    margin-right: 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    padding: 20px 35px;
    width: fit-content;

    color: black;
    background: var(--SunsetGradient);
    border-radius: 999px;
}

#services h4 {
    vertical-align: middle;
}

/* Featured Works (Modified from Portfolio!) */

.displayCase {
    height: 450px;
    background-color: var(--Teal2);
    padding: 30px;
    border: 1px solid black;
}

.displayScreenshots {
    margin-bottom: 20px;
    height: 300px;
    overflow: hidden;
    border: 1px solid black;
    background: var(--SunsetGradient);
}

.longimg {
    transform: translateY(0);
    transition: transform 12s;
    filter: grayscale(100%) invert(10%) saturate(350%) hue-rotate(50deg) brightness(105%) contrast(95%);
}

.longimg:hover,
.longimg:focus {
    transform: translateY(calc(-100% + 540px));
    transition: transform 16s;
    filter: none;
}

.smallimg {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.projectDetails {
    display: flex;
    min-height: 125px;
}

.projectDetails p {
    margin: 0 0 3px 0;
    color: white;
}

.projectButton {
    margin-left: auto;
}

.seemore {
    height: 70px;
    font-weight: bold;
    background-color: var(--LogoTypeYellow);
    color: black;
    border: black 1px solid;
    border-radius: 50px;
    padding: 10px 50px;
    transition: background-color .25s;
}

.seemore:hover {
    background-color: var(--Yellow);
    color: black;
}

.seemore:active,
.seemore:focus .seemore:active:focus {
    background-color: var(--Yellow);
}

/* Media Queries */

@media (orientation: portrait) {
    .shrink {
        width: 90%;
    }

    .section {
        padding: 40px 10px;
    }
}

@media screen and (max-width: 1440px) {
    .image-container {
        width: 24em;
        height: 530px;
    }

    .projectDetails {
        flex-direction: column;
    }

    .projectDetails p {
        text-align: center;
    }

    .projectButton {
        margin: 0;
    }
}

@media screen and (max-width: 900px) {
    .displayCase {
        height: unset;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 425px) {

    #startDName {
        font-size: 5rem;
    }

    .image-container {
        height: 500px;
        width: 20em;
    }
}