:root {
    --Teal: #32a5a5;
    --Teal2: #227FAB;
    --Pink: #ff96cc;
    --Pink2: #ffbbde;
    --Green: #88b088;
    --Yellow: #ffe18d;
    --LogoTypeYellow: #fff4d6;
}

/* Toggle Tabs */

#toggleTabRow {
    display: flex;
    gap: 20px;
}

.toggleTab {
    flex: 0 1 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #d1bf8c;
    padding: 5px 15px;
    min-height: 60px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: none;

    transition: background-color 0.4s ease, transform 0.3s ease;
}

.toggleTab.is-active {
    background-color: var(--LogoTypeYellow);
    transform: scale(1.1);
}

.portfolio-content {
    display: none;
}

.portfolio-content.is-active {
    display: flex;
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Fade-out Animation */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-in-active {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out-active {
    animation: fadeOut 0.5s ease-in-out forwards;
}

/* Web Dev Portfolio */

#content-web {
    padding: 50px 0;
    background: url("/assets/Backgrounds/Vines.png"), var(--LogoTypeYellow);
    border: 1px solid black;
}

.webDevPreview {
    background-color: var(--Teal2);
    padding: 30px;
    border: 1px solid black;
}

.displayScreenshots {
    max-height: 540px;
    overflow: hidden;
    border: 1px solid black;
    background-color: white;
}

.displayScreenshots img {
    margin-bottom: 30px;
    transform: translateY(0);
    transition: transform 12s;
    filter: grayscale(100%) invert(10%) saturate(350%) hue-rotate(50deg) brightness(105%) contrast(95%);
}

.displayScreenshots img:hover {
    transform: translateY(calc(-100% + 540px));
    transition: transform 16s;
    filter: none;
}

.webDevPreview p {
    margin: 0 0 3px 0;
    color: white;
}


/* Graphic Designer Portfolio */

#content-graphic {
    padding: 50px 0;
    background: url("/assets/Backgrounds/Roses.png"), var(--LogoTypeYellow);
    border: 1px solid black;
}

#graphicWrapper{
    gap: 20px;
}

#graphicWrapper img{
    border: 5px solid var(--Pink);
    padding: 10px;
    background-color: var(--Yellow);
    margin-bottom: 20px;

    border-radius: 50px;
}

/*  Logo Designer Portfolio */

#content-logo {
    padding: 50px 0;
    background: url("/assets/Backgrounds/RoseVines.png"), var(--LogoTypeYellow);
    border: 1px solid black;
}

.logos{
    padding: 20px;
}

#HMSBrand{
    background-color: white;
    border: 5px solid var(--Teal2);
}


/* Other */

.seemore {
    font-weight: bold;
    background-color: var(--LogoTypeYellow);
    color: black;
    border: black 1px solid;
    border-radius: 50px;
    padding: 10px 50px;
    transition: background-color .25s;
}

.seemore:hover {
    background-color: var(--Yellow);
    color: black;
}

.seemore:active,
.seemore:focus .seemore:active:focus {
    background-color: var(--Yellow);
}