header {
    background: var(--SunsetGradient);
    color: black;
}

h1 {
    color: var(--Pink2);
}

h2{
    font-size: 3em;
}

h3{
    margin: 10px 0;
}

section img {
    display: block;
    margin: 0 auto;
    border-radius: 20px;

    max-width: 700px;
    height: auto;
}

.caption {
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

section li {
    display: block;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    font-weight: bold;
} 

.emphasis {
    gap: 10px;
}

.emphasis h3{
    flex: 1 1 50%;
    background: var(--Pink2);
    border-radius: 10px;
    padding: 10px 20px;
}

section ol{
    width: 62%;
}

ol li{
    margin: 20px 0;
}

ol li p{
    display: flex;
    align-items: center;
    margin: 0;
    text-align: left;
    flex: 0 1 90%;
}

#RUReady {
    background: var(--Green);
}

#RUReady .bt-pink {
    margin: 0 auto;
}

@media screen and (max-width: 768px) {

    .emphasis {
        flex-direction: column;
    }

    .emphasis h3 {
        font-size: 1.4em;
    }

    h2 {
        text-align: center;
    }

    section ol {
        width: 100%;
        padding: 0;
    }

    ol li.d-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    ol li p {
        text-align: center;
    }
}