header {
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--SunsetGradient);
    /* background-size: contain;
    background-position: bottom right, center; */
    position: relative; 
}

h1 {
    color: var(--Pink2);
    filter: drop-shadow(1px 1px 0px var(--WaterTeal1)) drop-shadow(-1px 1px 0px var(--WaterTeal1)) drop-shadow(-1px -1px 0px var(--WaterTeal1));
}

h2{
    font-size: 3em;
}

h3{
    margin: 10px 0;
    color: var(--WaterBlue1)
}

.caption{
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

section{
    border-bottom: solid 5px white;;
}

section li{
    display: block;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    font-weight: bold;
} 

.emphasis{
    background-color: white;
    border-radius: 10px;
}

section ol{
    width: 62%;
}

ol li{
    margin: 20px 0;
}

ol li p{
    display: flex;
    align-items: center;
    margin: 0;
    text-align: left;
    flex: 0 1 90%;
}

.bt-pink{
    margin: 0 auto;
}