:root {
    --Teal: #32a5a5;
    --Teal2: #227FAB;
    --Pink: #ff96cc;
    --Pink2: #ffbbde;
    --Green: #88b088;
    --Yellow: #ffe18d;
    --LogoTypeYellow: #fff4d6;
}

@font-face {
    font-family: Rochester;
    src: url('../assets/fonts/Rochester-Regular.ttf');
}

/* General Layout */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 67px 0 0 0;
    background-color: var(--Teal);
    font-family: Comfortaa, Helvetica, Arial, sans-serif;
    color: white;
}

.container-fluid {
    padding: 0;
}

/* NavBar Header */

.navbar>.container-fluid {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

nav {
    padding: 10px 0;
    background-color: var(--Green);
}

.navbar-nav {
    flex: 1 1;
}

.nav-link {
    font-family: raleway;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    transition: color .25s ease-in;
    padding: 0 1rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    text-decoration: underline;
    color: var(--Pink2);
    font-weight: bold;
}

.nav-link:hover,
.nav-link:active,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.active:active,
.navbar-nav .nav-link.show:hover,
.navbar-nav .nav-link.show:active {
    color: var(--Pink2);
}

/* Footer */
footer {
    height: 350px;
    position: relative;
    background-color: #88b088;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 3;

    -webkit-box-shadow: 0px -1px 10px 0px #00000060;
    -moz-box-shadow: 0px -1px 10px 0px #00000060;
    box-shadow: 0px -1px 10px 0px #00000060;
}

.shrink {
    margin: 0 auto;
    width: 600px;
}

footer h5 {
    font-weight: bold;
}

.footerLinks {
    max-width: 700px;
}

footer .row {
    margin: 0 auto;
}

.socials a {
    text-decoration: none;
}

footer i {
    font-size: 30px;
    color: var(--Pink);
    margin: 0 3px;
    filter: drop-shadow(#46464677 1px 1px 1px);
}

/* Main */

main .container-fluid {
    position: relative;
    width: 100%;
    color: white;
    z-index: 2;
}

.section {
    padding: 40px;
    background-color: var(--Green);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* General Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway;
    font-weight: bold;
}

.headerCenter {
    text-align: center;
}

a{
    color: var(--Yellow);
    transition: .25s all;
}
a:hover{
    color: var(--LogoTypeYellow);
}

/* Other */

/* Main Button (Pink Edition) */

.bt-pink {
    background-color: var(--Pink2);
    color: black;
    transition: background-color .25s;
}

.bt-pink:hover {
    background-color: var(--Pink);
    color: black;
}

.bt-pink:active,
.bt-pink:focus .bt-pink:active:focus {
    background-color: #ff84c3;
}

table,
th,
tr,
td {
    padding: 10px;
    border: 2px solid var(--Green);
    background-color: #ffbbde;
    color: #000;
}

td {
    width: 50%;
}

/* Fade-in effect on page load */

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Decor */
#logo {
    width: 150px;
    margin-bottom: 10px;
}

.decor {
    background-color: #6e996e;
    padding: 5px;
    border-radius: 20px;
}

/* The Pond */

#LotusPond {
    display: block;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100vw;
    z-index: 3;
}

/* Media Queries*/

@media (orientation: portrait) {
    .shrink {
        width: 90%;
    }

    .section {
        padding: 40px 20px;
    }

    table,
    th,
    tr,
    td {
        padding: 0;
    }
}