:root {
    --Teal: #32a5a5;
    --Teal2: #227FAB;
    --Pink: #ff96cc;
    --Pink2: #ffbbde;
    --Green: #88b088;
    --Yellow: #ffe18d;
    --LogoTypeYellow: #fff4d6;
    --SunsetRed: #ff6767;
    --SunsetOrange: #ffb12b;
    --WaterTeal1: #004d81;
    --WaterBlue1: #003481;
    --WaterBlue2: #0b2a44;
    --SunsetGradient: linear-gradient(0deg, rgba(255, 103, 103, 1) 0%, rgba(255, 177, 43, 1) 50%, rgba(255, 225, 141, 1) 100%);
    --SunsetGradient2: linear-gradient(0deg, rgba(0, 101, 255, 1) 0%, rgba(0, 101, 255, 1) 10%, rgba(255, 103, 103, 1) 10%, rgba(255, 177, 43, 1) 50%, rgba(255, 225, 141, 1) 100%);

    /* Other */
    --textColor: white;
    --greenTextColor: #202020;
    --headerColor: var(--WaterTeal1);

    --h1Fonts: "Rochester", Times, serif;
    --mainHeaderFonts: "BrideCondensed", Times, serif;
    --boldHeaderFonts: "BrideBold", Times, serif;
    --regularFontspace: "LavenderFont", Helvetica, sans-serif;
}

@font-face {
    font-family: Rochester;
    src: url('/fonts/Rochester-Regular.ttf');
}

@font-face {
    font-family: LavenderFont;
    src: url('/fonts/LavenderExtended.ttf');
}

@font-face {
    font-family: Bride;
    src: url('/fonts/Bride/BrideRegularExtended.otf');
}

@font-face {
    font-family: BrideCondensed;
    src: url('/fonts/Bride/BrideRegularCondensed.otf');
}

@font-face {
    font-family: BrideBold;
    src: url('/fonts/Bride/BrideBoldExtended.otf');
}


/* General Layout */

html,
body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 67px 0 0 0;
    background-color: var(--Teal);
    font-family: var(--regularFontspace);
    color: var(--textColor);
    padding-bottom: 350px;
}

.container-fluid {
    padding: 0;
}

/* NavBar Header */

.navbar>.container-fluid {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

nav {
    padding: 10px 0;
    background-color: var(--Green);
}

.navbar-nav {
    flex: 1 1;
}

.nav-link {
    font-family: var(--mainHeaderFonts);
    font-size: 1.5em;
    color: var(--greenTextColor);
    font-weight: bold;
    transition: color .25s ease-in;
    padding: 0 1rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    text-decoration: underline;
    color: var(--WaterBlue1);
    font-weight: bold;
}

.nav-link:hover,
.nav-link:active,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.active:active,
.navbar-nav .nav-link.show:hover,
.navbar-nav .nav-link.show:active {
    color: var(--WaterBlue1);
}

.nav-link.disabled, .nav-link:disabled {
    cursor: not-allowed;
}

/* ~ Footer */

footer {
    width: 100%;
    height: 350px;
    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 50;

    background-color: #88b088;
    box-shadow: 0px -1px 10px 0px #00000060;

    text-align: center;

    transition: bottom .5s ease-in-out;
}

.footer-hidden {
    bottom: -400px;
}

.footer-visible {
    bottom: 0;
}

.shrink {
    margin: 0 auto;
    width: 600px;
}

.socials {
    flex-flow: row wrap;
    gap: 10px 30px;
    margin-bottom: 10px;
}

.socials a {
    flex: 1 0 calc(50% - 30px);
    text-align: left;
    border-bottom: 1px solid var(--LogoTypeYellow);
}

footer .row {
    margin: 0 auto;
    width: 70%;
}

footer h4 {
    text-align: left;
    color: var(--greenTextColor);
    font-weight: normal;
}

.footerLinks {
    max-width: 700px;
}

footer iconify-icon {
    font-size: 30px;
    color: var(--WaterTeal1);
    margin: 0 3px;
    filter: drop-shadow(#46464677 1px 1px 1px);
}

.mail iconify-icon {
    font-size: inherit;
    vertical-align: middle;
}

/* Main */

.container-fluid {
    z-index: 2;
}

.Green {
    padding: 40px;
    background-color: var(--Green);
    color: var(--greenTextColor);
}

#COA {
    width: 80%;
}

/* General Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headerColor);
    font-family: var(--mainHeaderFonts);
    font-weight: normal;
}

h1 {
    font-family: var(--h1Fonts);
    font-size: 4em;
}

h2 {
    font-weight: bold;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-family: var(--boldHeaderFonts);
    font-size: 1.6em;
}

.headerCenter {
    text-align: center;
}

a {
    color: var(--WaterBlue1);
    text-decoration: none;
}

a:hover {
    font-style: italic;
}

/* Other */

numdot {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;
    flex: 1 0 90px;
    height: 90px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;

    color: black;
    font-weight: bold;
    background: var(--SunsetGradient);
    border-radius: 999px;
}

/* Main Button (Pink Edition) */

.bt-pink {
    display: block;
    font-size: larger;
    padding: 10px 50px;

    background-color: var(--Pink2);
    color: black;
    border: white 1px solid;
    border-radius: 50px;
    transition: background-color .25s;
}

.bt-pink:hover {
    background-color: var(--Pink);
    color: black;
}

.bt-pink:active,
.bt-pink:focus .bt-pink:active:focus {
    background-color: #ff84c3;
}

/* Fade-in effect on page load */

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ~ Decor */

#logo {
    width: 150px;
    margin-bottom: 10px;
}

.decor {
    background-color: #6e996e;
    padding: 5px;
    border-radius: 20px;
}

.showcaseIMG {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 20px;
}

/* Media Queries*/

@media (prefers-reduced-motion: reduce) {
    #LotusPond {
        display: none;
    }
}

@media (orientation: portrait) {
    .shrink {
        width: 90%;
    }

    footer sup {
        display: none;
    }

    .section {
        padding: 40px 20px;
    }
}